
h1 {
    color: rgb(4, 4, 4);

  }

  body {
    background-color: rgb(2, 78, 73);
  }
div{
    background-color: rgb(246, 246, 246);
    border-radius: 25px;
}
input[type=text], select, textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color:#ccc;
    border-radius: 25px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type=textarea], select, textarea{
   
    width: 90%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color:#ccc;
    border-radius: 25px;
    box-sizing: border-box;
    resize: none;
  }
  
  /* Style the submit button */
  input[type=submit] {
    border-radius: 45px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 45px;
    border: none;
    cursor: pointer;
    float: center;
  }
  
  .center {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 250px) {
    .col-10, .col-45, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  